body{
    background: #080808;

}
.navbar{
background: #1B1B1B;;
font-family: IBM Plex Mono;
font-size: 0.100rem;
line-height: normal;
gap: 4.375rem;
}

/*corpo*/
.col-01,.col-02{
   
    border-radius: 1rem;
    height: 34rem;
    
}

/*fim do corpo*/
/* FOOTER */
.btn-outline-light{
    width: 10rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 1rem;
    border: 1px solid #1B1B1B;
}

